@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/Noto-Sans-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --md-text-font: 'Noto Sans', sans-serif;
}
